<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop_online.mapper.GradesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop_online.entity.Grades">
        <result column="sid" property="sid" />
        <result column="cid" property="cid" />
        <result column="score" property="score" />
    </resultMap>

</mapper>
